/* START BASIC STYLES */
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100vw;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
  width: 100vw;
}

/* WELCOME SECTION */

/* DESKTOP */
.welcome-section {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  /* background: linear-gradient(90deg, black 50%, pink 50%); */
}

.welcome-items {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nombre {
  color: orange;
}
.developer-title h3 {
  color: orange;
  font-size: 1.45em;
}

.linguist-title h3 {
  font-size: 1.45em;
}

.hola {
  /* height: 30%; */
  font-size: 3em;
  color: black;
  align-items: baseline;
  margin-top: 1.8em;
}

.hola h1 {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  /* letter-spacing: 0.15em; */
  animation: typing 6.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
/* **************************************** */
/* A TAGS */

#dev {
  background-color: orange;
}

#translator {
  background-color: black;
  color: white;
}
.welcome-buttons {
  border: hidden;
  cursor: pointer;
  /* background-color: white; */
  width: 6em;
  height: 6em;
  border-radius: 50%;
  margin-left: 30%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

.welcome-buttons:hover {
  transform: scale(1.2);
}

.welcome-buttons #devlink {
  text-decoration: none;
  color: black;
}
.welcome-buttons #cvlink {
  text-decoration: none;
  color: white;
}
.me {
  align-self: flex-end;
  border-radius: 50%;
  background-color: white;
  height: 6em;
  width: 6em;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  html {
    width: 100vw;
  }
  .body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .hola {
    margin-top: 1em;
  }
  .hola h1 {
    font-size: 1em;
    width: 100%;
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    /* letter-spacing: 0.15em; */
    animation: typing 6.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }
  .me {
    display: none;
  }
  .welcome-section {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* background: linear-gradient(90deg, black 50%, pink 50%); */
  }

  .welcome-items {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .developer-title,
  linguist-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0%;
  }
  .welcome-buttons {
    margin-left: 0%;
  }
  .welcome-buttons a {
    font-size: 0.8em;
  }
}

/* ****************************************************************************************************** */
/* ABOUT SECTION */
.about-container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 600px;
  width: 100vw;
}

.about {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: orange;
  clip-path: circle(50% at 50% 50%);
  position: absolute;

  /* clip-path: polygon(
    10% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20% */
  /* ); */
}

.text-about {
  /* max-width: 80%; */
  position: absolute;
  align-self: center;
  text-align: center;
  margin-right: 1em;
  margin-left: 1em;
  background-color: white;
  color: black;
  /* border-radius: 50%; */
  height: 500px;
  width: 500px;
  background: radial-gradient(
    ellipse at center,
    rgb(251, 253, 253) 0%,
    rgb(247, 249, 250) 70%,
    rgba(244, 246, 247, 0) 70.3%
  );
  position: absolute;
}
#text-about-2 {
  margin-left: -50%;
  margin-bottom: -10%;
  height: 25em;
  width: 25em;
  color: white;
  background: radial-gradient(
    ellipse at center,
    rgb(10, 12, 12) 0%,
    rgb(5, 6, 7) 70%,
    rgba(244, 246, 247, 0) 70.3%
  );
}
#text-about-1 {
  margin-right: -50%;
  margin-top: -10%;
  height: 25em;
  width: 25em;
  color: white;
  background: radial-gradient(
    ellipse at center,
    rgb(12, 12, 10) 0%,
    rgb(5, 6, 7) 70%,
    rgba(244, 246, 247, 0) 70.3%
  );
}
.text-about::before {
  content: '';
  width: 50%;
  height: 100%;
  float: left;
  shape-outside: polygon(
    0 27%,
    98% 0,
    50% 6%,
    23.4% 17.3%,
    6% 32.6%,
    0 50%,
    6% 65.6%,
    23.4% 82.7%,
    50% 94%,
    98% 100%,
    0 100%
  );
  shape-margin: 7%;
}

.text-about p::before {
  content: '';
  width: 50%;
  height: 100%;
  float: right;
  shape-outside: polygon(
    0% 0%,
    98% 0%,
    100% 100%,
    2% 100%,
    50% 94%,
    76.6% 82.7%,
    94% 65.6%,
    100% 50%,
    94% 32.6%,
    76.6% 17.3%,
    40% 6%
  );
  shape-margin: 7%;
}

.text-about p {
  text-align: center;
  height: 100%;
  font-size: 1.3em;
  line-height: 1.25;
  padding: 0;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}

.text-about p span {
  color: rgb(221, 147, 10);
}

#technologies {
  font-size: 2em;
}

/* .cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: orange;
  transition: 0.1s;
  
  pointer-events: none;
  mix-blend-mode: difference;
}

.text-about:hover ~ .cursor {
  transform: scale(6);
} */

#contact-link {
  text-decoration: none;
  color: rgb(0, 247, 255);
  transform: skew(2);
}
#contact-link:hover {
  color: orange;
}

@media only screen and (max-width: 600px) {
  #text-about-0 {
    display: none;
  }
  /* .about {
    display: none;
  } */
  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  #text-about-1,
  #text-about-2 {
    margin: 0;
    position: relative;
    font-size: 0.7em;
  }

  .text-about p {
    font-size: 1.3em;
  }
}

/* ********************************************** */
/* PORTFOLIO SECTION */
.portfolio-header {
  font-size: 4em;
  color: orange;
  text-align: center;
}

.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 50px;
  height: 40em;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: 25em;
  object-fit: cover;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: max-content;
  margin-top: -22px;
  padding: 16px;
  color: orange;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: grey;
  font-size: 15px;
  padding: 10px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-top: 70px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .portfolio-header {
    font-size: 2.5em;
  }
  .portfolio {
    margin: 0;
    height: 30em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .slideshow-container {
    height: fit-content;
    margin: 0;
  }
  a img {
    width: 100%;
    height: auto;
  }
  .mySlides {
    width: 100%;
    height: auto;
  }
  .mySlides img {
    height: 10em;
  }
  #dots {
    position: absolute;
    bottom: 0;
  }
}

/* ****************************** */
/* cv section */
.cv {
  margin-top: 20px;
  height: 550px;
  width: 97%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#dev-cv {
  background-color: orange;
  margin-left: 20px;
  clip-path: polygon(
    0% 15%,
    15% 15%,
    15% 0%,
    85% 0%,
    85% 15%,
    100% 15%,
    100% 85%,
    85% 85%,
    85% 100%,
    15% 100%,
    15% 85%,
    0% 85%
  );
}
#translator-cv {
  background-color: black;
  color: white;
  clip-path: polygon(
    0% 15%,
    15% 15%,
    15% 0%,
    85% 0%,
    85% 15%,
    100% 15%,
    100% 85%,
    85% 85%,
    85% 100%,
    15% 100%,
    15% 85%,
    0% 85%
  );
}
.cv-image {
  height: 100%;
  width: 50%;
  text-align: center;
  margin: 10px;
}
.cv-image img {
  width: 300px;
  height: 400px;
  object-fit: contain;
}

.cv-image img:hover {
  transform: scale(1.4);
  overflow: auto;
  transition: 0.4s;
}
hr {
  width: 80%;
  text-align: center;
  color: orange;
  border: solid orange 2px;
}

@media only screen and (max-width: 600px) {
  .cv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #dev-cv,
  #translator-cv {
    clip-path: fill-box;
    width: max-content;
    height: max-content;
  }
  .cv-image img:hover {
    transform: scale(1);
    overflow: auto;
    transition: 0.4s;
  }
  #cvs {
    height: 70em;
  }
}
/* Contact Section */

.contact-section {
  width: 100%;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 10px;
  color: rgb(27, 27, 27);
}

.contact-links a {
  color: orange;
}

@media only screen and (max-width: 600px) {
  footer {
    background-color: orange;
  }
  #contact {
    margin-bottom: 10px;
  }
}
